body{
    text-align: center;
}

img{
    width: 150px;
    height: 100px;
    margin: 30px;
}

div{
    position: absolute;
    width: 400px;
    height: 250px;
    border: 5px solid black;
    padding: 10px;
    font-size: 14px;
    text-align: justify;
    top: 300px;
    left: 550px;
    visibility: hidden; /* ocultar camadas */
}

div img{
    width: 80px;
    height: 60px;
    margin: 10px;
    float: left;
}

#camada1{
    background-color:red;
    color: white;
    border-color: black;
}

#camada2{
    background-color: springgreen;
    border-color: black;
}

#camada3{
    background-color: blue;
    border-color: darkblue;
}